.container {
  display: flex;
  border: 2px solid black;
  width: 500px;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  padding: 10px;
}
.content {
  text-align: left;
}

.button {
  background-color: yellow;
  padding: 7px 10px;
  border: none;
  border: 1px solid grey;
  text-transform: uppercase;
}
